Nicolas/PIIA 1/data-analysis/.ipynb_checkpoints
Nicolas/PIIA 1/data-analysis/particularidades_de_los_datos.txt
Nicolas/PIIA 1/data-analysis/analysis.ipynb
Nicolas/PIIA 1/data-analysis/data/*

Nicolas/PIIA 1/version1/*
Nicolas/PIIA 1/version4/*
Nicolas/PIIA 1/version5/*
Nicolas/PIIA 1/version7/*
Nicolas/PIIA 1/version8/*

Nicolas/PIIA 1/version1/dataset/
Nicolas/PIIA 1/version2/.ipynb_checkpoints
Nicolas/PIIA 1/version2/Model1.csv
Nicolas/PIIA 1/version2/test.csv
Nicolas/PIIA 1/version2/train.csv
Nicolas/PIIA 1/version3/.ipynb_checkpoints
Nicolas/PIIA 1/version3/Model1.csv
Nicolas/PIIA 1/version3/test.csv
Nicolas/PIIA 1/version3/train.csv
Nicolas/PIIA 1/version4/.ipynb_checkpoints
Nicolas/PIIA 1/version5/.ipynb_checkpoints
Nicolas/PIIA 1/version7/.ipynb_checkpoints
Nicolas/PIIA 1/version8/.ipynb_checkpoints

Nicolas/PIIA 2/dataset/*
Nicolas/PIIA 2/P2E 22 - Elaboration des prédictions de marée dans l'estuaire de la Loire.pdf
